
<div id = "AG_Grid_table_wrapper"  {% if type_of_table_to_display == "AG_Grid_table" %} style="display: block;" {% else %} style="display: none;" {% endif %}>

    <h1>AG Grid Table</h1>
    <table>
        <thead>
            <tr>
                {% for col in columns %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>

            {% for row in rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

        </tbody>
    </table>

</div>