version: "3.9"

services:
  app:
    build:
      context: .
    command: >
      sh -c "python manage.py migrate --noinput &&
      uwsgi --socket :9000 --workers 4 --master --enable-threads --module stantec.wsgi"
    restart: always
    environment:
      - DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
      - DJANGO_ALLOWED_HOSTS=${DOMAIN}
      - DB_HOST=postgres
      - DB_PORT=${DB_PORT:-5432}
      - DB_NAME=${DB_NAME:-stantec_db}
      - DB_USER=${DB_USER:-stantec_user}
      - DB_PASSWORD=${DB_PASSWORD:-stantec_password}
    networks:
      - stantec_net

  proxy:
    build:
      context: ./docker/proxy
    restart: always
    depends_on:
      - app
    ports:
      - 80:80
      - 443:443
    volumes:
      - certbot-web:/vol/www
      - proxy-dhparams:/vol/proxy
      - certbot-certs:/etc/letsencrypt
    environment:
      - DOMAIN=${DOMAIN}
    networks:
      - stantec_net

  certbot:
    build:
      context: ./docker/certbot
    command: echo "Skipping..."
    environment:
      - EMAIL=${ACME_DEFAULT_EMAIL}
      - DOMAIN=${DOMAIN}
    volumes:
      - certbot-web:/vol/www
      - certbot-certs:/etc/letsencrypt/
    depends_on:
      - proxy
    networks:
      - stantec_net

volumes:
  certbot-web:
  proxy-dhparams:
  certbot-certs:

networks:
  stantec_net:
    name: stantec_net