{% load static %}


<link rel="stylesheet" href="{% static 'css/table.css' %}?v=4">
<link rel="stylesheet" href="{% static 'css/summary_tables.css' %}?v=6">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.tailwindcss.com"></script>



<link rel="stylesheet" href="{% static 'css/accordion.css' %}?v=6">




<aside id="default-sidebar" class="fixed top-0 left-0 z-40 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar" style="width: 15%;">
    <div class="h-full px-3 py-4 flex flex-col bg-gray-50 dark:bg-gray-800">

        <div class="mb-3 d-flex justify-content-center">
            <img src="{% static 'stantec_logo.png' %}" alt="Stantec logo" style="max-width: 100%; height: auto; max-height: 48px;">
        </div>




        <div class="relative w-full text-left mx-auto">
            <div>
                <button
                type="button"
                class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50"
                id="menu-button"
                aria-expanded="false"
                aria-haspopup="true"
                onclick="document.getElementById('dropdown-menu').classList.toggle('hidden')"
                >

                    <div class="p-1 rounded" style="background-color: #f5a22e">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="white" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-gallery-vertical-end size-4 mt-2">
                            <path d="M7 2h10"></path>
                            <path d="M5 6h14"></path>
                            <rect width="18" height="12" x="3" y="10" rx="2"></rect>
                        </svg>
                    </div>

                    <div>
                        <p class="text-sm" style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: clip;">
                            {% if user_email %}
                                {{ user_email }}
                            {% else %}
                                not logged in
                            {% endif %}
                        </p>
                        <p class="text-xs" style="text-align: left; white-space: nowrap; overflow: hidden; text-overflow: clip;">   
                        other text 
                        </p>
                    </div>

                    &nbsp;

                    <svg class="-mr-1 size-5 text-gray-400 mt-2" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>

                </button>
            </div>
            <!-- Dropdown menu -->
            <div id="dropdown-menu" class="hidden absolute left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                <div class="py-1" role="none">

                    {% if user_email %}
                        <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100" onclick="logout()" role="menuitem">Sign out</button>                
                    {% else %}
                        <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100" onclick="redirect_to_register_page()" role="menuitem">Register</button>
                        <button type="submit" class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100" onclick="redirect_to_login_page()" role="menuitem">Log in</button>                
                    {% endif %}

                </div>
            </div>
        </div>
        
        


        
        <div class="mt-auto">
            <p class="text-xs">controls</p>

            <button class="accordion">
                <div class="row">
                    <div class="col-md-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                        </svg>
                    </div>
                    <div class="col-md-6"> Pages </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-1 arrow">></div>
                    <div class="col-md-1"></div>
                </div>
            </button>

            <div class="panel">
                <p class="panel_text"> <a href="/"> RainFall Report </a> </p>
            </div>





            <button class="accordion">
                <div class="row">
                    <div class="col-md-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                        </svg>
                    </div>
                    <div class="col-md-6"> Other </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-1 arrow">></div>
                    <div class="col-md-1"></div>
                </div>
            </button>

            <div class="panel">
                <p class="panel_text"> <a href="about_us"> About </a> </p>
            </div>



            <button class="accordion">
                <div class="row">
                    <div class="col-md-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                        </svg>
                    </div>
                    <div class="col-md-6"> Admin </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-1 arrow">></div>
                    <div class="col-md-1"></div>
                </div>
            </button>

            <div class="panel">
                <p class="panel_text"> <a href="admin_stuff"> Admin stuff </a> </p>
            </div>



        </div>
    </div>
</aside>



<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;

        var arrowCol = this.querySelector(".arrow");
        if (!arrowCol) {
            console.warn("Arrow element not found");
            return;
        }

        // Toggle arrow symbol
        if (arrowCol.textContent.trim() === ">") {
            arrowCol.textContent = "v";
        } else if (arrowCol.textContent.trim() === "v") {
            arrowCol.textContent = ">";
        } else {
            console.log("Unexpected arrow value:", arrowCol.textContent);
        }


        if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
        } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        } 
    });
    }






    function redirect_to_register_page(){
        window.location.href = "/registration_page";
    }
    
    
    
    function redirect_to_login_page(){
        window.location.href = "/login_page";
    }

    function logout(){
        window.location.href = "/logout";
    }















</script>